<div class="col-xs-12">
    <form action="#">
        <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName">

            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName">

            <label for="dep">Department</label>
            <input type="text" class="form-control" id="dep">

            <label for="username">Username</label>
            <input type="text" class="form-control" id="username">

            <label for="psw">Password</label>
            <input type="password" class="form-control" id="psw">

            <label for="psw2">Confirm Password</label>
            <input type="password" class="form-control" id="psw2">

            <label for="email">E-Mail</label>
            <input type="text" class="form-control" id="email">

            <label for="contact">Contact Number</label>
            <input type="text" class="form-control" id="contact">
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>

    </form>
</div>