<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName">
        </div>

        <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName">
        </div>

        <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" id="department">
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="psw">Password</label>
            <input type="password" class="form-control" id="psw">
        </div>

        <div class="form-group">
            <label for="psw2">Confirm Password</label>
            <input type="password" class="form-control" id="psw2">
        </div>

        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="text" class="form-control" id="contact">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="size: 14px; color: #fff; background-color: #007bff; border-color: #007bff;">
            <a href="#"></a>Register</button>
        </div>
    </div>
</div>