<div class="col-xs-12">
    <form action="#">
        <div class="input" style="text-align: center;">
            <label for="uname"></label>
            <input type="text" placeholder="Enter your username..." autofocus required> <br>
            <label for="psw"></label>
            <input type="password" placeholder="Enter your password..." required> <br> <br>
        </div>
        <div style="text-align: center;">
            <label><a href="#">Forget your password?</a></label>
            <input type="button" value="Sign in">
        </div>
    </form>
</div>